<a href="https://colab.research.google.com/github/dwisusanto29/Belajar-NoSQL/blob/master/Python_and_Mongodb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Installing PyMongo**

In [1]:
pip install pymongo

Requirement already satisfied: pymongo in /usr/local/lib/python3.7/dist-packages (4.1.0)

**Import dependencies mongodb**

In [2]:
import pymongo

**Setting koneksi mongodb**

In [3]:
from pymongo import MongoClient

client = pymongo.MongoClient("mongodb://susanto29:sayangku@cluster0-shard-00-00.dtmiu.mongodb.net:27017,cluster0-shard-00-01.dtmiu.mongodb.net:27017,cluster0-shard-00-02.dtmiu.mongodb.net:27017/myFirstDatabase?ssl=true&replicaSet=atlas-jrk7t6-shard-0&authSource=admin&retryWrites=true&w=majority")

**Checking All available Databases**

In [4]:
db = client.test
dbnames = client.list_database_names()
dbnames

['admin', 'local']

**Creating Database**

In [ ]:
mydb = client["mydatabase"]
mydb

Database(MongoClient(host=['cluster0-shard-00-02.dtmiu.mongodb.net:27017', 'cluster0-shard-00-01.dtmiu.mongodb.net:27017', 'cluster0-shard-00-00.dtmiu.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, replicaset='atlas-jrk7t6-shard-0', authsource='admin', retrywrites=True, w='majority', tls=True), 'mydatabase')

**Create Collection in a Database**

In [ ]:
mydb = client["mydatabase"]
mycol = mydb["customers"]

**Inserting Document in Collection**

Inserting Multiple Entries

In [ ]:
mylist = [{ "name": "Ram", "address": "Highway 37", "Phone no": 9998887776,"Salary": 20000 },
{"name": "Rahul", "address": "Jaipur", "Phone no": 9998087776,"Salary": 15000 },
{"name": "Bhawana", "address": "Gujrat", "Phone no": 90998887776,"Salary": 30000 }]

x = mycol.insert_many(mylist)

Inserting One Entry

In [ ]:
mydict={"name":"Tarun","address": "Mumbai", "Phone no": 9990087776,"Salary": 29000}
y = mycol.insert_one(mydict)

**View Data From Collection**

In [ ]:
for x in mycol.find({},{ "_id": 0, "name": 1 ,"address": 1 }):
  print(x)

{'name': 'Ram', 'address': 'Highway 37'}
{'name': 'Rahul', 'address': 'Jaipur'}
{'name': 'Bhawana', 'address': 'Gujrat'}
{'name': 'Tarun', 'address': 'Mumbai'}
{'name': 'Tarun', 'address': 'Mumbai'}

**Filtering Data in PyMongo**

In [ ]:
myquery = { "address": "Gujrat" }
mydoc = mycol.find(myquery)
for x in mydoc:
  print(x)

{'_id': ObjectId('62542231ce76a340b0e32307'), 'name': 'Bhawana', 'address': 'Gujrat', 'Phone no': 90998887776, 'Salary': 30000}

Here we have used “$gt” for finding all the values greater than the specific attribute. There are other modifiers as well:

GT- Greater Than
LT – Less Than
ET – Equal To

In [ ]:
myquery = { "address": { "$gt": "G" } }
mydoc = mycol.find(myquery)
for x in mydoc:
  print(x)

{'_id': ObjectId('62542231ce76a340b0e32305'), 'name': 'Ram', 'address': 'Highway 37', 'Phone no': 9998887776, 'Salary': 20000}
{'_id': ObjectId('62542231ce76a340b0e32306'), 'name': 'Rahul', 'address': 'Jaipur', 'Phone no': 9998087776, 'Salary': 15000}
{'_id': ObjectId('62542231ce76a340b0e32307'), 'name': 'Bhawana', 'address': 'Gujrat', 'Phone no': 90998887776, 'Salary': 30000}
{'_id': ObjectId('62542232ce76a340b0e32308'), 'name': 'Tarun', 'address': 'Mumbai', 'Phone no': 9990087776, 'Salary': 29000}
{'_id': ObjectId('62542257ce76a340b0e32309'), 'name': 'Tarun', 'address': 'Mumbai', 'Phone no': 9990087776, 'Salary': 29000}

Data can also be filtered with the help of Regular Expressions and here is the code for performing that:

In [ ]:
myquery = { "address": { "$regex": "^G" } }
mydoc = mycol.find(myquery)
for x in mydoc:
  print(x)

{'_id': ObjectId('62542231ce76a340b0e32307'), 'name': 'Bhawana', 'address': 'Gujrat', 'Phone no': 90998887776, 'Salary': 30000}

**Querying with ObjectID**

In [ ]:
import pprint
pprint.pprint(mycol.find_one({"_id": 1}))

None

**Counting Documents**

In [ ]:
mycol.count_documents({})

5

**Sorting Documents**

In [ ]:
mydoc = mycol.find().sort("name", -1)
for x in mydoc:
   print(x)

{'_id': ObjectId('62542232ce76a340b0e32308'), 'name': 'Tarun', 'address': 'Mumbai', 'Phone no': 9990087776, 'Salary': 29000}
{'_id': ObjectId('62542257ce76a340b0e32309'), 'name': 'Tarun', 'address': 'Mumbai', 'Phone no': 9990087776, 'Salary': 29000}
{'_id': ObjectId('62542231ce76a340b0e32305'), 'name': 'Ram', 'address': 'Highway 37', 'Phone no': 9998887776, 'Salary': 20000}
{'_id': ObjectId('62542231ce76a340b0e32306'), 'name': 'Rahul', 'address': 'Jaipur', 'Phone no': 9998087776, 'Salary': 15000}
{'_id': ObjectId('62542231ce76a340b0e32307'), 'name': 'Bhawana', 'address': 'Gujrat', 'Phone no': 90998887776, 'Salary': 30000}

**Updating Documents**

In [ ]:
myquery = { "address": "Ambala" }
newvalues = { "$set": { "address": "Goa" } }
mycol.update_one(myquery, newvalues)
for x in mycol.find():
   print(x)

{'_id': ObjectId('62542231ce76a340b0e32305'), 'name': 'Ram', 'address': 'Highway 37', 'Phone no': 9998887776, 'Salary': 20000}
{'_id': ObjectId('62542231ce76a340b0e32306'), 'name': 'Rahul', 'address': 'Jaipur', 'Phone no': 9998087776, 'Salary': 15000}
{'_id': ObjectId('62542231ce76a340b0e32307'), 'name': 'Bhawana', 'address': 'Gujrat', 'Phone no': 90998887776, 'Salary': 30000}
{'_id': ObjectId('62542232ce76a340b0e32308'), 'name': 'Tarun', 'address': 'Mumbai', 'Phone no': 9990087776, 'Salary': 29000}
{'_id': ObjectId('62542257ce76a340b0e32309'), 'name': 'Tarun', 'address': 'Mumbai', 'Phone no': 9990087776, 'Salary': 29000}

**Updating Multiple Row**

In [ ]:
myquery = { "address": { "$regex": "^G" } }
newvalues = { "$set": { "address": "Haryana" } }
x = mycol.update_many(myquery, newvalues)
for x in mycol.find():
  print(x)

**PyMongo Limit**

In [ ]:
myresult = mycol.find().limit(5)
for x in myresult:
  print(x)

{'_id': ObjectId('62542231ce76a340b0e32305'), 'name': 'Ram', 'address': 'Highway 37', 'Phone no': 9998887776, 'Salary': 20000}
{'_id': ObjectId('62542231ce76a340b0e32306'), 'name': 'Rahul', 'address': 'Jaipur', 'Phone no': 9998087776, 'Salary': 15000}
{'_id': ObjectId('62542231ce76a340b0e32307'), 'name': 'Bhawana', 'address': 'Gujrat', 'Phone no': 90998887776, 'Salary': 30000}
{'_id': ObjectId('62542232ce76a340b0e32308'), 'name': 'Tarun', 'address': 'Mumbai', 'Phone no': 9990087776, 'Salary': 29000}
{'_id': ObjectId('62542257ce76a340b0e32309'), 'name': 'Tarun', 'address': 'Mumbai', 'Phone no': 9990087776, 'Salary': 29000}

**Deleting Documents**

*Deleting One Document(Row)*

In [ ]:
myquery = { "address": "Ambala" }
y=mycol.delete_one(myquery)
print(y.deleted_count, " documents deleted.")

0  documents deleted.

*Deleting Multiple Documents(Rows)*

In [ ]:
myquery = { "name": {"$regex": "^A"} }
x = mycol.delete_many(myquery)
print(x.deleted_count, " documents deleted.")

0  documents deleted.

*Deleting All Documents (Rows)*

In [ ]:
x = mycol.delete_many({})
print(x.deleted_count, " documents deleted.")

5  documents deleted.

**Dropping Whole Collection**

In [ ]:
mycol.drop()